.wrapper {
	top: 40%;
	position: absolute;
	width: 100%;
	text-align: center;
	transform: translateY(-50%);
	display: flex;
	flex-direction: column;
	align-items: center;
}

.wrapper div {
	width: 20px;
	height: 0.33em;
	margin-bottom: 5px;
	background-color: var(--ifm-color-primary);
}

.div1 {
	animation: pulse 0.75s ease infinite alternate;
	animation-delay: 0s;
}
.div2 {
	animation: pulse 0.75s ease infinite alternate;
	animation-delay: -0.15s;
}

.div3 {
	animation: pulse 0.75s ease infinite alternate;
	animation-delay: -0.3s;
}

.wrapper p {
	margin-top: 5px;
}

@keyframes pulse {
	0% {
		transform: scaleX(0.4);
	}

	100% {
		transform: scaleX(1.4);
	}
}
