.tags*
.tmp
/tmp
package-lock.json
.env


.turbo
**/*.codegen.*

build
.cache-loader
.next
.eslintcache

# Local Netlify folder
.netlify

# Yarn v2
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
packages/compiler/_build
packages/compiler/_opam
packages/compiler/**/model.publicodes.json
