# Ignore grammar.js built during `yarn prepare`
packages/core/source/grammar.js
.yarnrc.yml

# Ignore dist files
packages/api/dist
packages/core/dist
packages/react-ui/dist
website/build
website/.docusaurus
dist