.container {
	position: relative;
}

.container > div {
	background-color: #f1f2f3;
	overflow: visible !important;
}

.button {
	position: absolute;
	right: 0;
	cursor: pointer;
	margin: calc(var(--ifm-pre-padding) / 2);
	padding: 0.4rem 0.5rem;
	border-radius: var(--ifm-global-radius);
	border: none;
}

.editor {
	margin-bottom: 1rem;
}
