.studio {
	flex-grow: 1;
	display: flex;
	height: 100%;
}
.studio > * {
	flex: 1;
}
.studio > :first-child {
	min-width: 55% !important;
}

@media (max-width: 960px) {
	.studio {
		flex-direction: column;
		padding: 20px;
	}

	.studio > :first-child {
		width: 100% !important;
	}
}
