name: Continuous release
on: [pull_request]

permissions:
  contents: read
  id-token: write
  attestations: write

jobs:
  build-compiler-linux:
    name: Ocaml compiler (linux)
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Build and test the ocaml compiler
        uses: ./.github/actions/build-compiler
        with:
          platform: linux

  build-compiler-macos-windows:
    name: Ocaml compiler
    runs-on: ubuntu-latest
    strategy:
      matrix:
        platform: [macos, windows]
    steps:
      - uses: actions/checkout@v4
      - name: Build and test the ocaml compiler
        uses: ./.github/actions/build-compiler
        with:
          platform: ${{ matrix.platform }}

  build:
    name: Build
    runs-on: ubuntu-latest
    needs: build-compiler-linux

    steps:
      - uses: actions/checkout@v4
      - uses: ./.github/actions/install-node
      - uses: actions/download-artifact@v5
        with:
          path: ./packages/cli/bin/compiler
          merge-multiple: true
      - run: yarn build
      - name: Continuously Release
        run: npx pkg-pr-new publish './packages/*'

  test:
    name: Tests
    needs: build-compiler-linux
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Install node
        uses: ./.github/actions/install-node
      - name: Install bun
        uses: oven-sh/setup-bun@v2
      - uses: actions/download-artifact@v5
        with:
          path: ./packages/cli/bin/compiler
          merge-multiple: true

      - name: Make artifacts executable
        run: chmod +x ./packages/cli/bin/compiler/*
      - run: yarn run test
