name: Release

on:
  push:
    branches:
      - master

concurrency: ${{ github.workflow }}-${{ github.ref }}

jobs:
  release:
    name: Release
    runs-on: ubuntu-latest
    environment: Publish
    permissions:
      contents: write
      id-token: write # Required for OIDC
    steps:
      - name: Checkout Repo
        uses: actions/checkout@v3

      - name: Install node
        uses: actions/setup-node@v4
        with:
          node-version: 22.x
          cache: yarn

      - name: Install dependencies
        run: yarn install --immutable

        # Ensure npm 11.5.1+
      - run: npm install -g npm@latest

      - name: Create Release Pull Request or Publish to npm
        uses: changesets/action@6a0a831ff30acef54f2c6aa1cbbc1096b066edaf # v1.7.0
        with:
          publish: yarn release
          version: yarn run version
        env:
          GITHUB_TOKEN: ${{ secrets.SECRET_GITHUB }}
